<!-- <h1>register</h1>
<form action="/auth/register" method='POST'>
  <div>
      <label for ="firstname">First Name</label>
      <input type='text' id='firstname' name = 'firstname' required>
  </div>
  <div>
    <label for ="lastname">Last Name</label>
    <input type='text' id='lastname' name = 'lastname' required>
</div>
  <div>
    <label for ="email">Email</label>
    <input type='email' id='email' name = 'email' required>
</div>
<div>
    <label for ="pwd">Password</label>
    <input type='password' id='pwd' name = 'pwd' required>
</div>
<button type = 'submit'>register</button>
</form>
<a href="/auth/login">Login</a> -->

<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>Join Kubra Kai</h1>

    <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/auth/register" method="POST">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" name="firstname">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" name="lastname">
    </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" name="pwd">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/auth/login">Login</a></p>
    <p>Or go KubraKai.com for more information<a href="/">KubraKai</a>.</p>

</div>
</div>
</body>
</html>