//Variables
@import "./Variables.scss";

//Global
@import "./index.scss";

//Components
@import "./Components/NavBar.scss";
@import "./Components/ComponentWrapper.scss";

//Pages
// @import "./Pages/Home.scss";